body.light {
  background: url("./assets/hero_image.png") no-repeat center center fixed;
  background-size: cover;
  color: #000;
}

body.dark {
  background: url("./assets/hero_image_dark.webp") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.header.dark {
  background-color: #222 !important;
}

.header.light {
  background-color: #f8f9fa !important;
}
